*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

body{
    background-color: white;
}

/* Estilização do navbar */

.nav-bar{
width: 100%;
height: 60px;
background-color: rgb(7, 30, 35);
display: flex;
align-items: center;
justify-content: space-between;}


h3{
    color: white;
    margin-left: 40px;
    font-size: 28px;
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 7px;
}


ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    font-size: 20px;
    
}


ul li:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.main-menu{
    margin-right: 30px;

}


.menu-btn, .close-btn{
    font-size: 28px;
    color: white;
    display: none;
    margin: 0px 20px;
}


/* Hero */

.main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    align-items: center;
    max-width: 600px;

}

.hero button {
    margin-top: 20px;
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    cursor: pointer;
}



/* Responsividade */
@media only screen and (max-width: 768px){
    
    ul{
        display: none;
    }

    ul li{
        display: block;
        margin: 20px 0;
}

    .main-menu ul li{
        display: block;
        margin: 10px 0;
    }

    .menu-btn{
        display: block;
    }

    
    h3{font-size: 24px;
    }

    #menu{width: 100%;
    background-color: rgb(7, 30, 35);
    position: absolute;
    top: 60px;
    right: 0;
text-align: center;}
}